.note-list-container {
	display: flex;
	flex-direction: column;

	width: 300px;
	height: 400px;

	padding: 20px;

	background: linear-gradient(143.13deg, #45A3AD 0%, #327D85 100%);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);	

	overflow-y: auto;
}